* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
    
body{
    background-color: rgb(33, 33, 33);
    background-image: url('./images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 450px;
    background: linear-gradient(130deg, rgb(87, 145, 253), rgb(6, 20, 80));
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 60px auto;
    border-radius: 10px;
    text-align: center;
    border-top: 2px solid;
    border-left: 2px solid;
}

.container:hover{
    box-shadow: 4px 4px 9px #010101;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    flex: 1;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 18px;
    background-color: lightcyan;
    color: black;
}

.search button {
    border: 0;
    outline: 0;
    background-color: lightcyan;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(252, 255, 255);
    box-shadow: 2px 5px 14px;
}

.search img {
    height: 47px;
    width: 22px;
}

.weather .icon {
    margin-top: 20px;
    width: 160px;
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 22px;
}

.error {
    text-align: left;
    color: red;
    margin-top: 5px;
    display: none;
    padding-left: 26%;
}